# Environment & Sensitive Keys
.env
*.env.local

# Node modules & Logs
node_modules/
npm-debug.log*
yarn-debug.log*

# Vercel deployment folder
.vercel/

# Database & System files
learnaiq.db
learnaiq.db-journal
learnaiq.db-wal
learnaiq.db-shm
.DS_Store
Thumbs.db
learnaiq.db
learnaiq.db-shm
learnaiq.db-wal
